
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900");


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
     background-image: url(../images/background/1.jpg) ; 
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0 auto;
     font-family: "Titillium Web";
    padding: 0 75px;

}
 button {
 	background-color: #eaeadc;
	border: none;
	border-radius: 6px;
	cursor: pointer;
 }

* {
	box-sizing: border-box;
}

*{ 
	fa-icon:color#626262; 
}

.rec{
	background-color: #424658;
	margin-bottom: 5px;
	    border-radius: 8px;
}
.rec p{
	font-size: 14px;
	color: #a4a4a7;
	margin-top: 10px;
	margin-left: 10px;
}
.rec img{
	height: 23px;
	margin-top: 10px;
	margin-left: 27px;
}
.faq{
	background-color: #272933;
}
.faq img{
	margin-right: 10px;
	margin-left: 15px;
}
.faq p{
	color: #ededed;
	font-size: 16px;
	font-weight: 600;
}
.faq .right{
	float: left;
	    padding-left: 852px;
}
.faq .right img{
	margin-right: 2px;

}
.utile {
	    padding-top: 17px;

}

 .navbar{
 	background: #272933 !important;
 	height: 60px;

 }
 .navbar-nav a{
 	font-family: "Titillium Web";
 	font-weight: 600;
 	color: #fff !important;
 	/*margin-top: 0 auto;*/
 	margin-right: 18px;
 }
  .navbar-nav a:hover{
 	background: #21222b;
 	color: #fff !important;
 }
 .nav-link.active{
 	border-bottom: 5px solid #ffad29;
 	background: #21222b;
 	
 }
.navbar-collapse{
	background:  #272933;
 	}

 .icon{
 	float: right;
 	margin-right: 16px;
 	color: #ffad29;
 }
 .icon:hover{
 	color: red;
 }
 .logo{
 	padding-top: 47px;
 	padding-bottom: 70px;
 	padding-left: 24px;
 }
.banner{
    padding-top: 7px;
    text-align: center
}
.background{
	background-color: #f9f6e3 ;
	position: relative;
    padding: 0 40px 31px 40px;
    height: 2969px;
}
.index{
	padding-top: 34px;
    margin-left: -14px;
}
.index a{
	color: #676767;
}

.in-tittle{
	margin-left: 40px;
	margin: 0 auto;
	padding-top: 25px;
	
}
.in-tittle h2{
	font-size: 25px;
	font-weight: bold;
	color: #7f7f7c;
	margin-bottom: 0px;
}
.in-page{
	margin: 0 auto;
	padding-top: 12px;
}

.pagination{
	float: right;
    margin-right: -31px;
}
.page-link{
	color: #7f7f7c;
	background-color: #f5f5f1;
	border: 2px solid #d5d5c9;
}

.in-search{
	margin-left: -14px;
}

form.example input[type=text] {
  padding: 7px;
  font-size: 13px;
  color: #7f7f7c;
  border: 3px solid #d5d5c9;
  float: left;
  width: 40%;
  background: #f5f5f1;
}

form.example button {
  float: left;
  width: 12%;
  padding: 6px;
  background: #d5d5c9;
  color:#7f7f7c ;
  font-size: 14px;
  border: 3px solid #d5d5c9;
  border-left: none;
  cursor: pointer;
   border-radius: 0px;

}

form.example button:hover {
  background: #ffad29;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.button button{
	color: #7f7f7c;
	font-size: 15px;
	font-weight: 600;
	padding: 8px;
	 margin-right: 10px;

}

.button .right{
	float: right;
	margin-right: -30px;
}
.button .left{
	margin-left: -14px;
}

.anounce {
	background-color: #ffad29;
	padding: 8px;
}
.anouncement{
    margin-top: 20px;

}
.anounce h1{
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	position: absolute;
	margin-left: 22px;
}

.anouncement p{
	font-size: 13px;
	color: #404040;
}

.steam {
	background-color: #f1f2e3;
	border-bottom: 4px solid #f1f2e3;
}
.color-font{
	color: #fa9b03;
}

.extream img{
	margin-top: 18px;
}

.extream .pagination{
	margin-right: 50px;
	padding-top: 15px;
	font-size: 10px;
}


.extream  span{
	font-size: 13px;
	font-weight: 600;
}
.stat{
	font-size: 15px;
	font-weight: 600;
	margin-top: 7px;
}

.post{
	background-color: #fff;
	font-size: 13px;

}

.post span{
	color: #4a4a4a !important;
	font-weight: 600;
	
}
.topics{
	color:#000;
	font-size: 14px;
	font-weight: 600;
}

.pagination-bottom .reply{
	margin-left: -14px;
}
.pagination-bottom .page{
	margin-right: -90px;
}

.pagination-bottom button{
	background-color: #d5d5c9;
	border: none;
    color: #7f7f7c;
    font-size: 15px;
    font-weight: 600;
    
}

.bottom-page{
	margin-left: -14px;
	padding-top: 12px;
}


.select{
	width: 229px;
    background: #d5d5c9;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}
.form{
	background-color: #fff;
	padding: 20px;
}
.form p{
	font-weight: 600;
	font-size: 15px;
}
form .btn{
	 float: right;
    margin-top: -35px;
    margin-right: -16px;
    padding: -5px;
    padding-top: 5px;
    padding-bottom: 4px;
    background: #d5d5c9;
}

.return{
	font-weight: 300;
	font-size: 13px;
	color: #676767;
	padding-bottom: 20px;
}



.footer{
	background-color: #eaeadc;
}
.footer-logo{
	margin-left: 504px;
	padding-top: 15px;
	
}
.footer .text p{
	font-size: 15px;
	color: #a4a4a7;
}
.footer .text span{
	font-size: 15px;
	color: #ffad29;
}
.footer .text{
	/*padding-top: 13px;*/
	padding-bottom: 6px;
}
.footer-bottom{
	background-color: #2a2e33;
	    border-radius: 4px;
}
.team p{
	float: left;
	/*font-weight: lighter;*/
	font-size: 17px;
	color: #ffad29;
	margin-top: 12px;

}
.team span{
	color: #a4a4a7;
	margin-left: 14px;
}
.team img{
	margin-left: 10px;
	margin-right: 3px;
}
.footer-left i{
	margin-right: 5px;
	margin-top: 17px;
	color: #ffad29;
}
.footer-left a{
	color: #ffad29;
}
.sectionImg{
    width: 65%;
}
.bannerImg{
    width: 100%;
}


@media only screen and (max-width: 1023px) {
  body {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
@media only screen and (min-width: 2560px) {
	.logo{
         padding-top: 170px;
         padding-bottom: 100px;
         padding-left: 24px;
	}
}
@media only screen and (min-width: 1440px){
	.faq .right{
		padding-left: 940px;
	}
}
@media only screen and (min-width: 2560px){
	.faq .right{
		padding-left: 1964px;
	}
}

@media only screen and (min-width: 1440px){
	.line{
      width: 1210px !important;
	}
}

@media only screen and (min-width: 1440px){
	.pagination-bottom .page {
    margin-right: -103px;
	}
}

@media only screen and (min-width: 1440px){
	form .btn {
    margin-right: -4px;
    margin-top: 0px !important;
	}
}

@media only screen and (min-width: 1440px){
	.mul{
    margin-left: 84px !important;
	}
}
@media only screen and (min-width: 2560px){
	.mul{
    margin-left: 239px !important;
	}
}
@media only screen and (min-width: 1440px){
	.veri button{
    margin-left: 74px 
	}
}
@media only screen and (min-width: 1440px){
	.veri p{
    padding-left: 80px 
	}
}



@media only screen and (min-width: 1440px) and (max-width: 2560px){
	.assasin{
		width: 99% !important;
	}
}

@media only screen and (min-width: 2560px){
	.footer-logo{
		margin-left: 1087px;
	}
}
@media only screen and (min-width: 1440px){
	.footer-logo{
		margin-left: 535px;
	}
}
@media only screen and (min-width: 2560px){
	.team{
		padding-left: 636px;
	}
}
@media only screen and (min-width: 1440px){
	.team{
		padding-left: 80px;
	}
}

